<div *ngIf="!dataLoading; else loading">
    <div class="poll-container">
        <h3 class="mb-2">Poll details</h3>

        <nz-card class="mb-3">
            <p class="text-creator" style="line-height: 0">
                Posted by <b>{{ pollData.poll.createdBy }}</b>
            </p>
            <p class="text-creator">{{ pollData.poll.createdDt | sDate }}</p>

            <div class="text-question">Question: {{ pollData.poll.question }}</div>

            <div class="mt-3 text-choice" *ngIf="allowedToVote">
                <nz-radio-group [(ngModel)]="optionRadioValue">
                    <label *ngFor="let choice of pollData.choices" nz-radio [nzValue]="choice.id">{{ choice.answer }}</label
          >
        </nz-radio-group>
      </div>
      <div class="mt-3 text-choice" *ngIf="!allowedToVote">
        <div
          nz-row
          *ngFor="let choice of pollData.choices; let i = index"
          class="mt-2"
        >
          <div nz-col nzSpan="3" class="text-break">{{ choice.answer }}</div>

          <div nz-col nzSpan="18" style="padding-left: 10px">
            <nz-progress
              [nzPercent]="getPercentage(i)"
              [nzShowInfo]="false"
              [nzStrokeColor]="getColor(i)"
              [nzFormat]="format"
              [nzStatus]="exception"
            >
            </nz-progress>
          </div>
          <div nz-col nzSpan="3" style="padding-left: 10px">
            {{ getPercentage(i) }} %
          </div>
        </div>
      </div>

      <div class="mt-3">
        <button
          *ngIf="allowedToVote"
          nz-button
          nzType="outline"
          class="mr-2"
          (click)="submitVote()"
        >
          Vote
        </button>
        <span nz-tooltip [nzTooltipTitle]="getTooltipText()">
          <button
            *ngIf="!allowedToVote"
            nz-button
            nzType="outline"
            class="mr-2"
            (click)="submitVote()"
            disabled
          >
            Vote
          </button></span
        >
        {{ pollData.votes.length }}
        {{ pollData.votes.length > 1 ? "votes" : "vote" }} •
        {{ pollData.poll.expiryDt | sDate }}
      </div>
    </nz-card>
  </div>

  <div *ngIf="!pollData" class="text-center">
    <h3>No Polls Found</h3>
  </div>
</div>

<ng-template #loading>
  <nz-skeleton [nzLoading]="true" [nzActive]="true"></nz-skeleton>
</ng-template>